body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

form {
    margin: 0px;
    padding: 0px;
}

a {
    color: #91450A;
    text-decoration: none;
}

a:visited {
    color: #91450A;
}

a:hover {
    color: #6D3103;
}

#footer {
    margin-top: 10px;
}

#site_links {
    font-size: small;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

#copyright {
    color: #999999;
    font-size: x-small;
    text-align: center;
}

.clr {
    clear: both;
}

#description {
    margin-left: 24px;
    font-size: small;
}

#header {
    margin-bottom: 15px;
}

#header h1 {
    margin-bottom: 15px;
}

#header img {
    margin-left: 2.5%;
    height: 180px;
    width: 300px;
}

.right {
    text-align: right;
}

.em {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: small;
}

.xsmall {
    font-size: x-small;
}

.center {
    text-align: center;
}

#main_table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#main_table table {
    width: 100%;
}

.tableheader {
    background-color: #D7D3D2;
    color: #706E6F;
}

.forumgroup_title,
.forumgroup_title th {
    background-color: #D7D3D2;
    margin: 0px;
}

.forumgroup_header,
.forumgroup_header th {
    background-color: #EAE8E9;
    margin: 0px;
}

table,td,tr,th {
    border: 0px solid;
    border-collapse: collapse;
}

th,td {
    padding: 5px;
}

.page_list {
    font-size: 80%;
    text-align: right;
}

#buttonbar {
    vertical-align: bottom;
}

#buttonbar2 {
    vertical-align: top;
    display: none;
}

#buttonbar td,
#buttonbar2 td {
    padding: 0px 4px 2px 0px;
}

#buttonbar .button,
#buttonbar2 .button {
    margin-right: 4px;
}

.button {
    font-size: 70%;
    color: #EAE8E9;
    background-color: #706E6F;
    border: 1px solid #706E6F;
    padding: 2px 4px;
}

.button:hover {
    color: white;
}

.disabled {
    color: #505050 !important;
}

#topbar td,
#bottombar td {
    padding: 4px 4px 4px 0px;
    background-color: #706E6F;
}

#topbar a:link,
#topbar a:visited,
#bottombar a:link,
#bottombar a:visited {
    color: #EAE8E9;
}

#topbar a:hover,
#bottombar a:hover {
    color: white;
}

.group {
    font-size: 90%;
    font-weight: bold;
    background-color: #4E5953;
}

.forum_icon {
    text-align: center;
    width: 33px;
}

.forum_name {
    font-size: 80%;
    font-weight: bold;
}

.forum_description {
    font-size: 70%;
}

.forum_threads {
    width: 10%;
    font-size: 80%;
}

.last_post {
    width: 20%;
    font-size: 70%;
}

th {
    font-size: x-small;
    font-weight: bold;
    text-align: left;
}

.row1,
.row2 {
    background-color: #EAE8E9;
    color: #000000;
}

.user_name {
    font-size: small;
}

.user_access {
    font-size: x-small;
}

.post_label {
    font-size: small;
    width: 100px;
    vertical-align: top;
}

.post_input {
    font-size: small;
    width: 465px;
    vertical-align: top;
}

.post_title {
    font-weight: bold;
}

.post_submit {
    text-align: right;
}

#id_title {
    width: 460px;
}

#id_body {
    height: 160px;
    width: 460px;
}

#id_sticky, #id_locked {
    height: 12px;
    width: 12px;
    margin-bottom: 2px;
}

.post_input .vSearchField {
    width: 340px;
}

.post_options {
    float: left;
}

.post_edited {
    font-style: italic;
    font-size: x-small;
}

.error {
    color: #FF0000;
    text-align: center;
    font-size: small;
}

.breadcrumbs {
    margin-left: 2.5%;
    font-size: small;
}

.thread_icon {
    width: 22px;
    text-align: center;
    font-size: 80%;
}

.thread_title {
    font-size: 80%;
    vertical-align: top;
}

.thread_title img {
    vertical-align: middle;
    margin-top: 2px;
    margin-bottom: -4px;
}

.post_img {
    border: 0px solid;
}

.sticky {
    font-weight: bold;
}

.thread_author {
    font-size: 70%;
    width: 10%;
    text-align: center;
}

.thread_views,
.thread_replies {
    font-size: 70%;
    width: 5%;
    text-align: center;
}

.user_info {
    width: 130px;
    vertical-align: top;
    padding: 8px;
}

a.User {
    color: #FF0000;
}

.Staff {
    /* Staff Text Color */
}

a.Staff {
    color: #6676B2;
}

.post_body {
    font-size: 80%;
    border-left: 1px solid #B4B8A5;
    padding-bottom: 7px;
    vertical-align: top;
}

.post_date {
    padding: 2px;
    margin-bottom: 3px;
    border-bottom: 1px solid #B4B8A5;
    font-size: x-small;
    text-align: right;
}

.profile_field {
    width: 10%;
    font-weight: bold;
    vertical-align: top;
    font-size: small;
}

.profile_value {
    width: 20%;
    font-size: small;
}

.profile_value #id_nickname,
.profile_value #id_avatar,
.profile_value #id_location,
.profile_value #id_website {
    width: 100%;
}

.no_items {
    text-align: center;
    font-style: italic;
    font-size: small;
}

.login_name {
    font-size: 90%;
    width: 10%;
}

.login_input {
    font-size: 90%;
    width: 10%;
}

.login_submit {
    text-align: right;
}

.avatar {
    height: 125px;
    width: 125px;
}

.sub_unsub {
    width: 90px;
    text-align: right;
}

.sub_unsub,
.sub_title {
    font-size: 80%;
}

.confirm {
    text-align: center;
    font-size: small;
}

.edit_profile_link {
    text-align: left;
    font-size: small;
    margin-left: 8px;
}

#delete_link {
    font-size: x-small;
    float: right;
    margin-top: 5px;
}

#markdown_help_link {
    font-size: x-small;
    float: left;
}

.search_result {
    font-size: 80%;
    width: 60%;
    padding-bottom: 15px;
}

.search_result p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#mark_read {
    text-align: right;
    font-size: x-small;
}

#login_text {
    text-align: right;
    font-size: small;
}
