*~
*.pyc
*.swm
*.swn
*.swo
*.swp
*.wsgi

*.db

*.tar.bz2
*.tar
*.gz

media/artists/*
media/albums/*
media/cache

xapian/*
logs/*

.hg
.svn

*.log
*.log.* 
*.pid

scripts/
scrapers/
irc/

.private-settings
