Django==1.4
Markdown==2.1.1
PIL==1.1.7
South==0.7.4
Unidecode==0.04.9
Whoosh==2.3.2
django-extensions==0.8
django-gravatar==0.1.0
django-haystack==1.2.7
django-pagination==1.0.7
django-tagging==0.3.1
feedparser==5.1.1
python-memcached==1.48
pytz==2012c
recaptcha-client==1.0.6
redis==2.4.11
sorl-thumbnail==11.12
textile==2.1.5
wsgiref==0.1.2
psycopg2==2.4.5
