{% extends 'base.html' %}
{% block page_title %}add artist{% endblock %}
{% block body_class %}addartist{% endblock %}
{% block breadcrumbs %}
	<li><a href="{% url index %}" title="Home">Home</a> &raquo;</li>
	<li><a href="{% url artist-index %}" title="Artist List">Artist List</a> &raquo;</li>
	<li>Add Artist</li>
{% endblock %}
{% block header %}Add Artist{% endblock %}

{% block content %}
<p>Artists <strong>currently</strong> require staff approval before they appear on the website. The time it takes to review may vary, but usually takes 1-3 days. </p>
<p>Once your artist has been approved you, as the uploader, will have the ability to edit information more in depth.</p>

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	{% for field in form %}
	{{ field.errors }}
    <p><strong> {{ field.label }} </strong></p>
	<p> {{ field }} </p>
	<p class="helptext"> {{ field.help_text }} </p>
	{% endfor %}
	<input type="submit" value="Submit"> or <a href="{% url artist-index %}" title="cancel">cancel</a>
</form>
{% endblock %}
