{% extends 'base.html' %}
{% block page_title %}add link for {{ album.name }}{% endblock %}
{% block body_class %}addlink{% endblock %}
{% block js  %}
  {{ block.super }}
    <script type="text/javascript">
    $(document).ready(function () {
   	function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_form-TOTAL_FORMS').val();
		newElement.find(':input').each(function() {
    var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    	newElement.find('label').each(function() {
    	var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    	});
   	  total++;
   	  $('#id_form-TOTAL_FORMS').val(total);
  	  $(selector).after(newElement);
		}
						
			$('input[type="button"]').click(function() {
				cloneMore('ul.addlinklist:last', 'link');
			});
    });
    </script>
{% endblock %}

{% block breadcrumbs %}
	<li><a href="{% url index %}" title="Home">Home </a>&raquo;</li>
	<li><a href="{% url artist-index %}" title="Artist List">Artist List</a> &raquo;</li>
	<li><a href="{% url artist-detail artist.slug %}" title="{{ artist}}">{{ artist }}</a> &raquo;</li>
	<li><a href="{% url album-detail artist.slug album.slug %}" title="{{ album }}">{{ album }}</a> &raquo;</li>
	<li>Add Link</li>
{% endblock %}

{% block header %} Add Link for <span class="orng">{{ album }}</span>  {% endblock %}
{% block content %}
<p>All fields, except <strong>bitrate</strong> and <strong>format</strong> are required. You can add more link fields (on the same page) by clicking "Add slot", for mass uploading.</p>
<form action="" method="post"> {% csrf_token %}
		{{ formset.management_form }}
        {% if formset.non_form_errors %}
        <ul class="errorlist">
        {% for error in  formset.non_form_errors %}
            <li>{{ error }} </li>
        {% endfor %}
        </ul>
        {% endif %}
		{% for form in formset.forms %}
			<ul class="addlinklist">
    		{% for field in form %}
				 <li>
				 	  {{ field.label_tag }}
						{{ field }}
				 		{{ field.errors }}
				 </li>
				{% endfor %}
			</ul>
		{% endfor %}
    <div class="inpwrap">
        <input type="button" value="Add Slot">
        <input type="submit" value="Submit"> or <a href="{% url album-detail artist.slug album.slug %}" title="cancel add link">cancel</a>
    </div>
</form>
{% endblock %}
