{% extends 'base.html'%}
{% block page_title %} report link: {{ link.id }} {% endblock %}
{% block body_class %}report-link{% endblock %}

{% block breadcrumbs %}
	<li><a href="{% url index %}" title="Home">Home </a>&raquo;</li>
	<li><a href="{% url artist-index %}" title="Artist List">Artist List</a> &raquo;</li>
	<li><a href="{% url artist-detail artist.slug %}" title="{{ artist}}">{{ artist }}</a> &raquo;</li>
	<li><a href="{% url album-detail artist.slug album.slug %}" title="{{ album }}">{{ album }}</a> &raquo;</li>
	<li>Report Link</li>
{% endblock %}

{% block header %}reporting {{ link }}{% endblock %}
{% block content %}
<p> Be as specific as you can, and please use english. </p>
<form action="" method="post"> {% csrf_token %}
	{% for field in form %}
	{{ field.errors }}
    <p><strong>{{ field.label }}</strong></p>
	<p>{{ field }}</p>
	<p class="helptext"> {{ field.help_text }} </p>
	{% endfor %}
	<input type="submit" value="Submit"> or <a href="{% url album-detail artist.slug album.slug %}" title="cancel report">cancel</a>
</form>
{% endblock %}
