{% extends 'base.html' %}
{% block page_title %} password change {% endblock %}
{% block body_class %}passwordchange{% endblock %}

{% block breadcrumbs %}
	<li><a href="{% url index %}" title="Home">Home</a> &raquo;</li>
	<li><a href="{% url profile %}" title="Profile">Profile</a> &raquo;</li>
	<li>Password Change</li>
{% endblock %}
{% block header %}Change Password{% endblock %}
{% block content %}
<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
<form id="override" action="" method="post"> {% csrf_token %}
	{% for field in form %}
		<p>{{ field.errors }}</p>
		<p><strong>{{ field.label }}:</strong></p>
		<p>{{ field }}</p>
		<p class="help_text">{{ field.help_text }}</p>
	{% endfor %}
	<input type="submit" value="change"> or <a href="{% url profile %}" title="cancel">cancel</a>
</form>
{% endblock %}
