{% extends "base.html" %}
{% block page_title %}password reset{% endblock %}
{% block body_class %}passwordreset{% endblock %}


{% block breadcrumbs %}
	<li><a href="{% url index %}" title="Home">Home</a> &raquo;</li>
	<li><a href="{% url login %}" title="login">Log In</a> &raquo;</li>
	<li>Password Reset</li>
{% endblock %}

{% block header %}Password Reset{% endblock %}
{% block content %}
{% if user.is_authenticated %}
	<p> You're logged in! <a href="{% url profile %}" title="profile">Back to profile</a>. </p>
{% else %}
	<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
	
	<form action="" method="post"> {% csrf_token %}
		{{ form.email.errors }}
		<p><label for="id_email"><strong>Email:</strong></label></p>
		<p>{{ form.email }}</p>
		<input type="submit" value="Reset"> or <a href="{% url login %}" title="log in">cancel</a>
	</form>
{% endif %}
{% endblock %}
