{% extends "base.html" %}
{% block page_title %}password reset{% endblock %}
{% block body_class %}passwordreset{% endblock %}

{% block header %}Enter New Password{% endblock %}

{% block content %}
{% if validlink %}
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form action="" method="post"> {% csrf_token %}
	{% for field in form %}
	{{ field.errors }}
		<p><strong>{{ field.label }}:</strong></p>
		<p>{{ field }}</p>
		<p class="help_text">{{ field.help_text }}</p>
	{% endfor %}
	<p><input type="submit" value="Change"> or <a href="{% url login %}" title="log in">cancel</a></p>
</form>
{% else %}
	<p><strong>Password reset unsuccessful.</strong></p>
	<p>The password reset link was invalid, possibly because it has already been used. Please <a href="{% url password-reset %}" title="password reset">request a new password reset</a>.</p>
{% endif %}
{% endblock %}
