{% extends 'base.html'%}
{% block page_title %} report {{ profile.user }} {% endblock %}
{% block body_class %}report-user{% endblock %}
{% block breadcrumbs %}
	<li><a href="{% url index %}" title="Home">Home </a>&raquo;</li>
	<li><a href="{% url profile-user profile.user %}" title="{{ profile.user }} profile">{{ profile.user }}</a> &raquo;</li>
	<li>Report {{ profile.user }}</li>
{% endblock %}
{% block header %}Report {{ profile.user }}{% endblock %}
{% block content %}
<p> Be as specific as you can, and please use english. </p>
<form action="" method="post"> {% csrf_token %}
	{% for field in form %}
	{{ field.errors }}
    <p><strong>{{ field.label }}</strong></p>
	<p>{{ field }}</p>
	<p class="helptext"> {{ field.help_text }} </p>
	{% endfor %}
	<input type="submit" value="Submit"> or <a href="{% url profile-user profile.user %}" title="cancel">cancel</a>
</form>
{% endblock %}
