{% extends 'base.html' %}
{% block page_title %}search{% endblock %}
{% block body_class %}search{% endblock %}
{% block meta_desc %}search tehorng for music{% endblock %}
{% block meta_keyw %}search, search tehorng, search artists, search albums, {{ block.super }}{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
            $('#id_q').attr({ value: '{{ query }}' });
    });
    </script>
{% endblock %}


{% load thumbnail %}
{% load pagination_tags %}
{% block breadcrumbs %}
	<li><a href="{% url index %}" title="Home">Home</a> &raquo;</li>
	<li>Search</li>
{% endblock %}
{% block header %} Search {% endblock %}
{% block content %}

<form id="search" method="GET" action=".">
	{% for field in form %}
		{{ field }}
	{% endfor %}
	<input type="submit" value="squeeze">
</form>
<section id="results">
    {% if results %}
    <h3> Found {{ results.count }} results for: <span class="query">{{ query }}</span></h3>
    {% autopaginate results 25 %}
    <ul>    
    {% for result in results %}
        {% if result.object %}
        {% if forloop.counter0  %}
        <li class="result">
        {% else %}
        <li class="result first">
        {% endif %}
             {% if result.object.image %}
                {% thumbnail result.object.image "50x50" crop="center" as im %}
                <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
                {% endthumbnail %}
             {% else %}
                {% thumbnail "img/noimgartist.jpg" "50x50" crop="center" as im %}
                <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
                {% endthumbnail %}
             {% endif %}
             <h4><a href="{{ result.object.get_absolute_url }}" title="{{ result.object }}">{{ result.object }}</a> <span>{{ result.score }}%</span></h4>
             <p> is a <strong>{{ result.verbose_name }}</strong> </p> 
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    {% paginate %}
    {% else %}
        <p><strong> No results were found{% if query %} for {{ query }}{% endif %}.</strong></p>
    {% endif %}
</section> <!-- end results -->
{% endblock %}
