{% extends 'base.html' %}
{% block page_title %} blog {{ entry.title }}{% endblock %}
{% block body_class %}blog{% endblock %}
{% load comments %}
{% load pagination_tags %}
{% load markup %}
{% load gravatar %}
{% load tagging_tags %}

{% block breadcrumbs %}
	<li><a href="{% url index %}" title="Home">Home</a> &raquo;</li>
	<li><a href="{% url entry-list %}" title="Entry List">Entry List</a> &raquo;</li>
	<li>{{ entry.title }} </li>
{% endblock %}
{% block header %} {{ entry.title }} <span class="gray helptext" style="display: block; font-size: 50%;">Posted on {{ entry.created|date:"F j Y" }} by {{ entry.author }}</span> {% endblock %}
{% block content %}
<aside id="sidebar">
	<!-- <h3>Search</h3> -->
	
	<h3>Archives</h3>
    <strong>Years</strong>
    <ul class="archive-list">
    {% for year in years %}
        <li><a href="{% url year-archive year|date:"Y" %}" title="{{ year|date:"Y" }}">{{ year|date:"Y" }}</a></li>
    {% endfor %}
    </ul>
    <strong>Months</strong>
    <ul class="archive-list">
    {% for month in months %}
        <li><a href="{% url month-archive month|date:"Y" month|date:"n" %}" title="{{ month|date:"F" }}">{{ month|date:"F" }}</a> </li>
    {% endfor %}
    </ul>

	<h3>Tags</h3> 
    {% tag_cloud_for_model blog.Entry as tags with steps=20 distribution=log %}
    <ul class="entry-tags">
    {% for tag in tags %}
        <li><a class="tag-size-{{ tag.font_size}}" href="{% url tag-detail 'blogs' tag.id %}" rel="tag">{{ tag }}</a></li>
    {% endfor %}
    </ul>
 
	<h3>Feed <img style="border: none;" src="/media/img/rss_32.png" height="16" width="16"></h3>
    Want to stay up to date? <a href="/feeds/entries/" title="Latest Entries">Grab the feed</a>.
</aside>

<section id="blog-content">
<article>
{{ entry.body|urlize|textile }}
{% if entry.tags %}
{% tags_for_object entry as tags %}
<ul class="entry-tags">
     <li><strong>tags:</strong></li>
{% for tag in tags  %} 
<li><a href="{% url tag-detail 'blogs' tag.id %}" title="{{ tag }} " rel="tag">{{ tag  }}</a></li>
{% endfor %}
</ul>
{% endif %}
	
{% if entry.allow_comments %}
<section id="comments">
<header>
  <h3> Discuss Entry </h3>
</header>
<hr>
{% get_comment_list for entry as comment_list %}
{% get_comment_form for entry as form %}
{% if comment_list %}
<ul id="comment-list">
    {% autopaginate comment_list 10 %}
    {% for comment in comment_list %}
      <li class="comment" id="c{{ comment.id }}">
              <div class="comment-info">
              <a href="http://gravatar.com" title="Gravatar">{% gravatar comment.user 48 %}</a>
              <strong><a href="{% url profile-user comment.user %}" title="{{ comment.user }} profile">{{ comment.user }}</a></strong> 
              <time>	
                {{ comment.submit_date|date:"m/d/Y" }}
                <span style="display:block">{{ comment.submit_date|date:"P" }}</span>
              </time>                
              {% if comment.user.is_staff %}
                <span class="staff helptext">{% if comment.user.is_superuser %}Admin{% else %}Staff{% endif %}</span>
              {% endif %}
              </div>
              <div class="comment-content">
              {{ comment.comment|urlize|smileys|textile }}
              </div>
              <div class="comment-footer">
              <a href="{{ comment.get_absolute_url }}"  title="permalink">permalink</a>
              {% if user == comment.user %}
                  <a href="{% url delete-comment comment.id %}" title="delete comment">delete</a>
              {% else %}
                  <a href="{% url flag-comment comment.id %}" title="flag comment">flag</a>
              {% endif %}
              </div> <!-- end comment footer -->
      </li> 
  {% endfor %}
</ul><!-- end comment list -->
{% paginate %}
{% else %}
  <p> <strong> No comments for this entry yet. </strong></p>
{% endif %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if user.is_authenticated %}	
        {{ form.comment }} 
        {{ form.content_type }} 
        {{ form.object_pk }} 
        {{ form.timestamp }} 
        {{ form.security_hash }} 
        <p style="display: none"> {{ form.honeypot }} </p>
        <p class="helptext">HTML is stripped, but you may use <a href="http://www.textism.com/tools/textile/" title="what is textile">textile</a>. </p>
        <input type="submit" name="post" value="Submit">
        <input type="hidden" name="next" value="{% url entry-detail entry.slug  %}">
    {% else %}
        <p> You must <a href="{% url login %}?next={% url entry-detail entry.slug %}#comments">log in</a> to post comments. </p>
    {% endif %}
</form>
</section> <!-- end comments -->
{% else %}
    <p> <strong> Comments are closed for this entry. </strong> </p>
{% endif %}
</article>
</section> <!-- end blog content -->
{% endblock %}
